@model TiendaWep.Models.Cerveza

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Cerveza</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="alcohol" class="control-label"></label>
                <input asp-for="alcohol" class="form-control" />
                <span asp-validation-for="alcohol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idEstilo" class="control-label"></label>
                <select asp-for="idEstilo" class="form-control" asp-items="ViewBag.idEstilo"></select>
                <span asp-validation-for="idEstilo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlImagen" class="control-label"></label>
                <input type="file" id="subidaArchivo" asp-for="UrlImagen" class="form-control" />
                <span asp-validation-for="UrlImagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="/@Model.UrlImagen" width="100%" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
